---
import GetCopyButton from '../ui/GetCopyButton.astro';
import UnderlineStroke from '../ui/UnderlineStroke.astro';
---

<section class="py-16 px-6 max-w-4xl mx-auto">
  <div class="text-center mb-10">
    <h2 class="text-3xl font-bold text-center">
      <span class="font-bold">Qué dicen los lectores</span>
      <UnderlineStroke
        svgHeight="20"
        pathD="M 60 20 Q 20 5 170 5 T 150 5"
        width="2"
      />
    </h2>
  </div>
  <blockquote class="mt-6 italic">
    “Me parece un manual muy interesante. Precisamente el título lo indica,
    Homeopatía a Primera Vista, porque a través de él se averigua en seguida
    para qué vale cada medicamento. Una vez averiguado se puede indagar por ahí
    cuál es su forma de tomarlo. Además, está ilustrado página por página, lo
    cual ayuda más que cualquier otro libro o manual a identificar el síntoma y
    el remedio. De hecho, creo que está prorogado por Xavier Llambrich. ”
  </blockquote>
  <blockquote class="mt-4 italic border-t pt-4">
    “Me resulta muy útil cuando quiero buscar algún remedio homeopático. Está
    muy bien explicado y ya sólo por las divertidas ilustraciones merece la pena
    tenerlo a mano para darle un repaso de vez en cuando.”
  </blockquote>
  <blockquote class="mt-4 italic border-t pt-4">
    “Me parece muy práctico el tener los medicamentos básicos en un manual. Bien
    explicado y dibujos ayudan bastante. ¡Muchas gracias!”
  </blockquote>
  <div
    class="mt-12 flex flex-col sm:flex-row gap-4 items-center justify-center"
  >
    <GetCopyButton />
  </div>
</section>
