---
import SectionLayout from './SectionLayout.astro';
import { COLORS } from '../../lib/colors';

const THINGS_TO_LEARN_LIST = [
  'Ilustraciones claras y explicaciones simples para facilitar la comprensión de los remedios homeopáticos.',
  'Accesible y aplicable en la práctica diaria: Un manual de consulta rápida que simplifica lo complejo.',
  'Descubre tratamientos menos agresivos y adaptados a cada individuo.',
  'Relaciona síntomas, características del paciente y principios homeopáticos con precisión',
  'Diseñado para médicos, farmacéuticos y terapeutas que buscan ampliar sus recursos de intervención.',
  'Explora cómo la homeopatía puede combinarse con la medicina convencional para mejorar la calidad de vida del paciente.',
  'Mejora tu enfoque terapéutico con un método holístico y personalizado.',
  'Aprende a aplicar la homeopatía en situaciones reales con ilustraciones y explicaciones claras.',
  'Explora su impacto en la prevención, el alivio y la recuperación de diversas afecciones.',
  'Descubre cómo la homeopatía puede usarse en bebés, embarazadas, ancianos, polimedicados y deportistas.',
];
---

<SectionLayout
  bgColor="grey"
  layout="text-center"
  extraStyles="max-w-4xl mx-auto"
>
  <h2 class="text-2xl font-bold mb-12">10 cosas que puedes aprender...</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 text-left space-y-4">
    {
      [...Array(2)].map((_, colIndex) => (
        <div key={colIndex} style={`margin-top: ${colIndex === 1 && '0'}`}>
          {THINGS_TO_LEARN_LIST.slice(colIndex * 5, (colIndex + 1) * 5).map(
            (text, index) => (
              <p
                key={index}
                class={`flex items-center ${index !== 0 && 'mt-4'}`}
              >
                <span
                  style={{ background: COLORS.primary, color: 'white' }}
                  class="flex items-center justify-center w-8 h-8 font-bold text-sm rounded-full shrink-0 mr-3"
                >
                  {colIndex * 5 + index + 1}
                </span>
                <span class="w-full">{text}</span>
              </p>
            ),
          )}
        </div>
      ))
    }
  </div>

  <p class="mt-6 text-gray-600">...y mucho más.</p>
</SectionLayout>
