---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import DescriptionSection from '../components/sections/DescriptionSection.astro';
import GallerySection from '../components/sections/GallerySection.astro';
import ThingsToLearnSection from '../components/sections/ThingsToLearnSection.astro';
import GallerySection2 from '../components/sections/GallerySection2.astro';
import GallerySection3 from '../components/sections/GallerySection3.astro';

import ReviewsSection from '../components/sections/ReviewsSection.astro';
import MeetTheAuthorSection from '../components/sections/MeetTheAuthorSection.astro';

import { COLORS } from '../lib/colors';
---

<Layout>
  <main>
    <HeroSection />
    <DescriptionSection />
    <GallerySection />
    <ThingsToLearnSection />
    <GallerySection2 />
    <ReviewsSection />
    <GallerySection3 />
    <MeetTheAuthorSection />
  </main>
  <footer
    class="bg-blue-600 text-white text-center py-6"
    style=`background-color: ${COLORS.secondaryDark}`
  >
    <p class="mt-2">
      &copy; 2025 Homeopatía a primera vista. Todos los derechos reservados.
    </p>
  </footer>
</Layout>
